@import "tailwindcss";

html, body{
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.container-shop{
  max-width:1200px;
  margin:auto;
  padding-left:16px;
  padding-right:16px;
}

body{
  background:#ffffff;
  color:#171717;
  font-family: Arial, Helvetica, sans-serif;
}